<% if resource.errors.any? %>
  <div id="error_explanation" class="error-alert" data-turbo-cache="false">
    <ul class="error-message">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
